.address_card {
  border: 1px solid var(--color-border-subtle);
  border-radius: 0.5rem;
  padding: 1rem;

  background-color: var(--color-bg-tertiary);
}

.address_card > .card_header {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.5rem;
}

.address_card > .card_header > .header_icon {
  padding: 0.7rem;

  font-size: 1.3rem;

  background-color: var(--color-label-work);
  border-radius: 100%;
}

.address_card > .card_header > .header_title {
  font-size: 1.3rem;
  font-weight: 600;
}

.address_card > .card_body {
  margin: 1rem 0rem;

  border: 1px solid var(--color-border-subtle);
  padding: 0.5rem;
  display: inline-block;
  box-sizing: border-box;
}

.address_card > .card_body > tbody > tr > td {
  padding: 0.3rem;
  font-size: 0.9rem;

  vertical-align: middle;
  text-align: left;
}

.address_card > .card_body > tbody > .data_wrapper > .data_icon {
  font-size: 1rem;
  width: 1.5rem;
  min-width: 1.5rem;
}

.address_card > .card_action {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 0.5rem;
}

.address_card > .card_action > .action_button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.3rem 1rem;
  border-radius: 0.2rem;

  outline: none;
}

.address_card > .card_action > .action_button.action_edit {
  background-color: var(--color-label-work);
}

.address_card > .card_action > .action_button.action_delete {
  background-color: rgb(255, 32, 32);
}
