@media (min-width: 768px) {
  .create_contact_page > .page_form > .form_input_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    width: 100%;
  }
}
